body {
  font-family: Montserrat;
}

/* Title */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.navbar-link {
  color: #fff;
  font-family: "Montserrat";
  font-size: 1rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Main title image */
.title-image {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%
}

/* Features Section */
.feature-box {
  padding: 2%;
  text-align: center;
}

#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Testimonials  */
.carousel-item {
  padding: 7% 15%;
}

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 1rem;
  width: 15%;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  margin: 3rem 1rem;
  width: 15%;
}

/* Pricing */
#pricing {
  padding: 7rem;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

/* Footer */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/* Media Queries */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
